<html>
<h1>Team name:</h1>
<h2><%= @team_name  %></h2>
<br>
<h2> Team Motto:</h2>
<h3><%=@team_motto %></h3>

<h1>Hero Name:</h1>
<h2><%= @hero1_name  %></h2>
<br>
<h2> Hero Power:</h2>
<h3><%=@hero1_power %></h3>
<br>
<h2> Hero Biography:</h2>
<h3><%=@hero1_bio %></h3>
<br><br>

<h1>Hero Name:</h1>
<h2><%= @hero2_name  %></h2>
<br>
<h2> Hero Power:</h2>
<h3><%=@hero2_power %></h3>
<br>
<h2> Hero Biography:</h2>
<h3><%=@hero2_bio %></h3>
<br><br>

<h1>Hero Name:</h1>
<h2><%= @hero3_name  %></h2>
<br>
<h2> Hero Power:</h2>
<h3><%=@hero3_power %></h3>
<br>
<h2> Hero Biography:</h2>
<h3><%=@hero3_bio %></h3>
<br><br>



</html>